<h1 align='center' class="text-dark">ForgetPassword Otp Verify </h1>

<form align='center'  (ngSubmit)="onSubmit()">
    <table class="container">
    



        <tr >
            <td> <label class="form-label">OTP</label> </td>
             <td> <input type="text" class="form-contol" id="password"
                 [(ngModel)]="forgetVerify.otp" name="otp" >
             </td>
     
            
         </tr>

    <tr >
       <td> <label class="form-label">New Password</label> </td>
        <td> <input type="text" class="form-contol" id="password"
            [(ngModel)]="forgetVerify.newPassword" name="newPassword" >
        </td>

       
    </tr>


    <tr >
        <td> <label class="form-label">Confirm Password</label> </td>
         <td> <input type="text" class="form-contol" id="password"
             [(ngModel)]="forgetVerify.confirmPassword" name="confirmPassword" >
         </td>
 
        
     </tr>
    

    <tr><td><button  type="submit" class="btn btn-danger">Submit</button>
        </td>
    </tr>
    
</table>

<br>
<h1>{{status}}</h1>
</form>



